<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/external.css">
  </head>
  <body>

<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
</div>

<h1 class="blogtitle"><%= post.title %> </h1>
<div class="cont">
<img class="author-img" src="imgs/<%= fNameObj.name %>pic.jpg"  alt="">
<h4 class="author"><%= post.author %> </h4>
</div>
<h1 id="mainImg-h1" style="display: none;"><%= post.mainImg %></h1>
<% if (post.mainImg != ''){ %> 
<img id="mainImg" src="<%= post.mainImg %>" alt="">
<% } %>
<div class="focuscontent">
<%- post.content %>
</div>

</body>

</html>