<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    
<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
  <div class="intro">
    <marquee behavior="scroll" direction="left" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;">Welcome to Chem Expo! In this website, you can read different, remarkable articles related to chemistry. You may also study here by taking a look at our Regents Chemistry and AP Chemistry notes through each chapter (still being updated throughout the year). You may also check out our resources where we have the reference tables you need for both courses, and there is also a hyperlink that redirects you to a molecule maker!</marquee>
  </div>
</div>

  <header id="header1">
    <div class="container">

      <nav>
        <ul>
          <li><a id="current" href="#" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Blog</a></li>
          <li id="courses"><a style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;" class="others" href="/courses">Courses</a></li>
          <li><a class="others" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;" href="/resources">Resources</a></li>
          <li><a class="others" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;" href="/about">About</a></li>
        </ul>
        
      </nav>
    </div>
    <div class="dropdown" style="visibility: hidden;">
      <div id="myDropdown" class="dropdown-content">
        <a href="#" style="display: list-item;">Link 1</a>
        <a href="#" style="display: list-item;">Link 2</a>
        <a href="#" style="display: list-item;">Link 3</a>
      </div>
    </div>

    </header>
    <a id="mode-color" href="/?mode=dark" class="mode">Dark Mode</a>
    <div class="SearchBar">
      <h1 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: lighter;
      letter-spacing: 2px;">Discover Chemistry</h1>
      <input id="search" type="text" onkeyup="myFunction2()" placeholder="Search by Keyword">
        <!-- <div class="searchbtn">
        </div> -->
      </div>

      <div class="Fact">
        <h1 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        letter-spacing: 2px;">Fact of the Week</h1>
        <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        letter-spacing: 2px;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </div>
        </div>

      <div class="post-container">
        
      <% for (var i = arr.length-1; i >= 0; i--) { %>
        
        <div id="<%= i %>" class="overlay">
          <div id="text-box">
            <button id="<%= [i] %>" onclick="off(this.id);" style="float: right;">X</button>
            <h1 id="popup-id"><%= arr[i].title %></h1>
            <h5 style="font-size: 25px;">By <%= arr[i].author %></h5>
            <div class="focuscontent"> 
            <%- arr[i].content %>
            </div>
          </div>
        </div>

        <div class="Post">
          <a id="<%= [i] %>" class=pop onclick="on(this.id);" href="#">View Pop up</a>
          <a class=stay href="/external?ID=<%= arr[i].id %>">Same page</a>
          <a class=new href="/external?ID=<%= arr[i].id %>" target="_blank">New link</a>
          <h4 class="title"><%= arr[i].title %></h4>
          <h1 style="display: none;" class="name"><%= arr[i].author.toLowerCase() %></h1>
          <img src="imgs/<%= fNameArr[i] %>pic.jpg" style="width: 10%; border-radius: 50%;" alt="">
          <h5>By <%= arr[i].author %></h5>
          <img class="cover-img" src="<%= arr[i].mainImg %>" alt="">
          <div style="height: 350px; overflow: scroll; width: 100%;">
          <%- arr[i].content %>
        </div>
        </div>
        <hr style="visibility:hidden;">
 <%   } %>
      </div>
  </body>
</html>

<script>
  
  var url = window.location.search
  
  
  console.log(url);
  
  if (url == "?mode=dark"){
    console.log("bchange");
    document.body.style.background = "#232323";
    document.querySelector("#mode-color").classList.remove("mode")
    document.querySelector("#mode-color").classList.add("mode1")
    document.querySelector("#mode-color").innerHTML = "Light Mode"
    document.querySelector("#mode-color").href = "/";
  }
  



</script>

<script src="js/index.js" charset="utf-8"></script>
