<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/mission-control.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
    </div>

<main role="main">
    <div id="create" class="overlay">
        <div id="text-box">
        <button onclick="off();" style="float: right;">X</button>
        <h1>Create Post</h1>
    <form action="/createPost" method="POST">
        <label for="">Author</label>
        <input type="text" name="author">
        <br>
        <label for="" class="input-label">Cover Image</label>
        <input type="text" class="input-box" name="mainImg">
        <br>
        <label for="" class="input-label">Title</label>
        <input type="text" class="input-box" name="title">
<br>
        <label for="" class="input-label">Date</label>
        <input type="text" class="input-box" name="date">
<br>
        <label for="" class="input-label">Content</label>
        <textarea name="content" cols="100" rows="10"></textarea>
        <button type="submit">Post</button>
    </form>
</div>
      </div>
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Your Posts</h1>
      <div class="column" style="position: relative; top: -30px; border-right: 1px solid black; padding-bottom: 70px;">
      <p class="lead text-muted">Welcome to your admin dashboard! You may add, remove, or edit any posts here.</p> 
    </div>
    
    <div class="column" style="border-right: 1px solid black; padding-bottom: 70px;">
      <p class="lead text-muted">For author field, just put your first name wit first letter capitalized, or else your image won't show in your post.</p>
    </div>

    <div class="column" style="border-right: 1px solid black; padding-bottom: 70px;">
      <p class="lead text-muted">To add images use " ^+img_url+^ ". To add styling, insert $ and divide each style with ";" before the closing "+^".</p>
      </div>
      <div class="column" style="position: relative; top: -89px;">
        <p class="lead text-muted">Example: ^+https://images.pexels.com/photos/5192248$height:200px;+^</p>
      </div>
      
    </div>
    <a onclick="on();" href="#" class="btn btn-primary my-2">Create Blog Post</a>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% for (var i = posts.length-1; i >= 0; i--) { %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img style="width: 100%; height: 20%;" src="<%= posts[i].mainImg %> " alt="">
            <form id="<%= i %>" class="edit-content" action="/save" method="POST">
            <label >Title</label>
            <input type="text" name="title" value="<%= posts[i].title %>">
            <a style="float: right;" href="/mission-control">X</a>
            <br>
            <label >Date</label>
            <input type="text" name="date" value="<%= posts[i].date %>">
            <br>
            <label>Author</label>
            <input type="text" name="author" value="<%= posts[i].author %>">
  
            <textarea name="updatedContent" cols="30" rows="10"><%= posts[i].content %></textarea>
            <h1 style="font-size: small;">The id of this post is: <%= posts[i]._id %> Please enter it in the following box and press save to confirm save.</h1>
            <input type="text" name="postID" required>
            <button type="submit">Save</button>
        </form>
        <form action="/delete" method="POST">
          <label for="">The id of this post is: <%= posts[i]._id %> Please enter it in the following box and press delete to delete the post.</label>
          <input type="text" name="postID" id="" required>
          <button type="submit">Delete</button>
        </form>
            <div class="card-body">
                <h1><%= posts[i].title %></h1>
              <p class="card-text" style=" width: 100%;white-space: nowrap;overflow: hidden;text-overflow:unset; padding-right: 2px;"><%= posts[i].content %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button id="<%= i %>" onclick="edit(this.id);" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
          
              </div>
            </div>
          </div>
        </div>
        <%   } %>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Have fun in sharing your chemistry knowledge!</p>
    <p>&copy; Chem Expo</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<script src="js/mission-control.js" charset="utf-8"></script>
</body>

      
</html>


